[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keybert = "*"
streamlit = "*"
tensorflow_datasets = "*"

[dev-packages]
jupyter = "*"
black = "*"

[requires]
python_version = "3.8"
